<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>FORMULARIO DE INGRESO AFILIADOS</title>
</head>
<%- include('partials/navbar') %>
<body>
    <header>
        <h2>Software de OSPIM:</h2>
    </header>
    <main class="fondo-negro">
        <section><h3>FORMULARIO DE INGRESO AFILIADOS:</h3>
            <form method="POST" action="mailto:lucasbastino96@gmail.com" id="form-familiares"> <!-- despues en action hay que ponerle basededatos.sql -->
                <section class="form__section">
                <div class="titulo field-12">Datos personales</div>
                <input class="field-6" type="text" name="nombre" placeholder="Nombres" required>
                <input class="field-6" type="text" name="apellido" placeholder="Apellidos" required>
                <input class="field-6" type="text" name="fecha-nac" placeholder="Fecha de Nacimiento" required>
                <input class="field-6" type="text" name="numero-doc" placeholder="Número de Documento" required>
                <select class="field-6" id="estado-civil" name="estado-civil" onchange="cambiarColorPorDefecto(value, id);" required>
                    <option value="">Estado Civil</option>
                    <option value="soltero">Soltero</option>
                    <option value="casado">Casado</option>
                    <option value="viudo">Viudo</option>
                </select>
                <select class="field-6" name="genero" id="genero" onchange="cambiarColorPorDefecto(value, id);" required>
                    <option value="">Género</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
                <input class="field-6" name="telefono" type="text" placeholder="Teléfono" required></input>
                <input class="field-6" name="email" type="text" placeholder="Email" required></input>
                
                
                <div class="titulo field-12">Domicilio</div>
                <input class="field-6" type="text" name="calle" placeholder="Calle" required>
                <input class="field-6" type="text" name="numero-calle" placeholder="Número" required>
                <input class="field-6" type="text" name="depto" placeholder="Departamento" required>
                <input class="field-6" type="text" name="codigo-postal" placeholder="Codigo Postal" required>
                <input class="field-6" type="text" name="localidad" placeholder="Localidad" required>
                <input class="field-6" type="text" name="partido" placeholder="Partido" required>
                
                
                <div class="titulo field-12">Datos de la Obra Social</div>
                <input class="field-6" type="text" name="num-afi" placeholder="Número de Afiliado" required >
                <input class="field-6" type="text" name="cuil" placeholder="CUIL" required >
                <input class="field-6" type="text" name="empresa" placeholder="Empresa" required >
                <select class="field-6" id="estado" name="estado" onchange="mostrarOcultarEstado(value); cambiarColorPorDefecto(value, id);" required>
                    <option value="">Estado</option>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
                <input class="field-6" type="text" name="fecha-ingreso" id="fecha-ingreso" placeholder="Fecha de Ingreso" required>
                <input class="field-6" type="text" name="fecha-baja" id="fecha-baja" placeholder="Fecha de Baja">
                <select class="field-6" name="categoria" id="categoria" onchange="cambiarColorPorDefecto(value, id);" required>
                    <option value="">Categoría</option>
                    <option value="1">Nivel 1: Oficial Múltiple</option>
                    <option value="2">Nivel 2: Oficial Especializado</option>
                    <option value="3">Nivel 3: Oficial General</option>
                    <option value="4">Nivel 4: Medio Oficial</option>
                    <option value="5">Nivel 5: Ayudante</option>
                    <option value="6">Nivel 6: Operario Act. Industrial</option>
                </select>
                <input class="field-6" type="text" name="ultima-emision-carnet" placeholder="Ultima emision de Carnet" required>
                <button class="boton" onclick="agregarFamiliar(); ocultarBotones();">Agregar Familiar</button>
                <button class="boton" type="submit">Enviar</button>
            </section>
            </form>
        </section>
    </main>
    
    <footer>
        <p class="p-footer element-footer"> <b>OSPIM</b></p>
        <img class="logo-ospim element-footer" src="img/logo-ospim.jpg">
    </footer>
    <script src="./scripts.js"></script>
</body>
</html>

