* {
    font-family: var(--fuente-principal);
}


:root {
    --white-mode: rgb(190, 190, 190);
    --dark-mode: rgb(45, 45, 45);
    --fuente-principal: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    text-align: center;
    margin: auto auto;
}

header {
    margin-top: 1em;
}

body {
    background-color: #555;
    margin: 0px;
    /* para que no tenga margen en ningun costado de la pagina */
    display: flex;
    /* estos 3 de abajo son para que el footer quede bien puesto */
    flex-direction: column;
    min-height: 100vh;
}

section {
    display: grid;
    justify-content: center;
    align-content: center;
}

input, select {
    margin: 1.5em 2em;
    font-size: 1em;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    color: #000;
}

input:focus, select:focus {
    transition: transform 0.3s;
    transform: scale(1.1);
}

input::placeholder {
    color: #999;
    opacity: 1;
}

select {
    color: #999;
}

.form__section {
    box-shadow: 0em 0em 1em 0px black;
    align-self: center;
    justify-self: center;
    justify-content: center;
    background-color: #fefefe;
    color: #000;
    max-width: 50%;
    min-width: 375px;
    margin: 3em 20vw 3em 20vw;
    padding: 2em 2em;
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    font-weight: 700;
    margin: 1em 0;
}

.field-12 {
    flex-basis: 87.7%;
}

.field-6 {
    flex-basis: 40%;
}


@media screen and (max-width: 1370px) {

    .field-6 {
        flex-basis: 87.7%;
    }

}


#fecha-ingreso, #fecha-baja {
    display: none;
}

.boton {
    margin: 3em 1em 2em 1em;
    padding: 10px;
    display: flex;
}











footer {
    margin-top: auto;
    /* junto a el display:flex de body ayuda a mantener el footer bien abajo */
    background-color: var(--white-mode);
    border-top: 1px solid rgb(19, 19, 19);
}

.p-footer {
    margin: 0 0 0 1em;
    float: left;
    line-height: 4em;
    /* mismo tamaño que el logo: 4em, asi el padding para los dos queda bien */
}

.logo-ospim {
    max-height: 4em;
    /* hace la imagen mas chica */
    float: right;
    /* alinea la imagen a la derecha */
    margin-right: 1em;
    /* le da un margencito al costado */
}

.element-footer {
    display: inline-block;
    /* hace que puedan estar en la misma linea */
    padding: 1em 0 1em 0;
    /* le da un poco de relleno arriba y abajo a los elementos del footer */
    vertical-align: middle;
    /* los alinea verticalmente al medio */
}